<% include ../partials/header %>
<% include ../partials/menu %>
    <div class="header" style="background-color: rgb(20, 26, 26); height: 80px;">
        <br>
        <form>
            <div class="row">
                <div class="column">
                    <div class="form-group" style="width: 30rem; margin-left: 35rem;">
                        <input type="text" class="form-control" id="searchresult" placeholder="Enter Search Text">
                    </div>
                </div>
                <div class="column">
                    <div class="form-group" style="max-width: 50%; margin-left: 4rem;">
                        <button type="button" class="btn btn-primary" onclick="makeApiCall()">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- review modal -->
    <form action="/home/add_review" method="post">
        <div id="reviewModal" class="modal" style="width: 1500px; height: 2000px; margin-left: 50px; margin-top: 0px;">
            <!-- Modal content -->
            <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-header">
                <h1>Add Review</h1>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="column">
                            <label for="title" style="margin-left: 8rem;">Movie Name:</label>
                        </div>
                            <input type="text" id="title" name="title"  required="required" style="width:500px; margin-left: 10rem;" disabled></input>
                    </div>
                    <br>
                    <div class="row">
                        <div class="column">
                            <label for="review" style="margin-left: 8rem;">Enter Review Here:</label>
                        </div>
                            <textarea type="text" id="review" name="review"  required="required" style="width:500px; height:300px; margin-left: 7rem;">Review Here</textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <button id="my_submit_button" class="btn btn-primary btn-block login-btn" onClick="disable();"> Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- placeholder for cards -->
    <div class ="row" id="placeholder" style="margin-left:200px; margin-right:200px;">

    </div>

<% include ../partials/footer %>